body{
  font-family: 'Cairo', Verdana, Geneva, sans-serif;
  background-color: #f2f2f2;
}
.galleryList{
  margin: 2%;
  background-color: #ffff;
}
#gallery{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 15px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

#gallery p{
  margin-left: 20px;
}
#gallery .imgList{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.img{
  max-width: 75px;
  max-height: 75px;
  margin: 0 0 20px 20px;
  cursor: pointer;
  min-width: 50px;
  min-height: 50px;
}
.msg {
  text-align: center;
  margin: 10% 25%;
}


.loginFormParent {
  background: #fff;
  padding: 20px;
  position: relative;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 482px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
.LoginBtn {
  color: #ffffff;
  width: 100%;
  padding: 18px;
  font-weight: 700;
  font-size: 18px;
  height: 64px;
  letter-spacing: 0.06px;
  border-radius: 4px;
}

 /* css for header.js */
.main-header {
  min-height: 60px;
}
.header-section{
  box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.15);
  min-height: 65px;
  z-index: 99999;
  background: #ffffff;
  padding: 15px;
}
.header-section .header-user-section{
  letter-spacing: 0.06px;
  border: 1px solid transparent;
  padding: 6px 12px;
  width: 0;
}
.header-section .header-logout-section{
  width:0;
}
button.btn.btn-link.logoutBtn{
  float: right;
  color: #313030;
  text-decoration: none;
}

/* css for image dialog */
.dialog-alignment{
  text-align: center;
  margin-left: auto;
  /* margin-right: auto; */
}
.image-dialog{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
}
p{
  font-size: 1rem;
}
.para{
  margin-bottom: 0;
}
